// Font Variables
$base-font: 'Roboto', sans-serif;

$h1-size: 1.44rem;
$h2-size: 1.2rem;
$h3-size: 1rem;
$p-size: 1rem; //16px;

// Colors
$base-color-dark: #3C4C60;
$accent-color: #2196f3;
$accent-text-color: #fff;
$accent-grey: #D0D6E2;
