.title-bar {
  background-color: $base-color-dark;
  // height:25px;
}
$ns-margin:0.5rem; //North South or upper and lower margin
.header-title {
  @include column(75);

  padding-left: $ns-margin;
  margin-top:$ns-margin;
  margin-bottom: $ns-margin;

  color:$accent-text-color;
}

.settings-toggle {
  color:$accent-text-color;
  text-align: right;

  @include column(25);
  padding-right: $ns-margin*3;
  margin-top:$ns-margin;
  margin-bottom: $ns-margin;
}

.settings-draw {
  $draw-width:90;
  $draw-margin: ((100-$draw-width)/2)/100;
  @include column($draw-width);
  margin-left: percentage($draw-margin);
  margin-right: percentage($draw-margin);
  color:$accent-text-color;
  display: none;
}
