// Main Content Layout
.task-size {
  margin:0;
  @include column(75);
  padding:1rem;

}
.new-task {
  @include column(25);
  padding:1rem;
  font-size: 2rem; // Maybe do something else here
  text-align: right;
}

.task-card {
  //box shadow etc
  @include row(95);
  @include block-center();
  border: 1px solid $accent-grey;
  box-shadow: 0 2px 6px rgba(0,0,0,0.16), 0 2px 6px rgba(0,0,0,0.23);
  padding:1rem;
  margin-bottom:0.8333rem;
}
.task-status {
  @include column(15);
  padding-left:0.625rem;
  font-size: 1.5rem;
}
.task-title {
  @include column(85);
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5rem;
}

.task-titlebar {
  box-shadow: 0 10px 8px -8px rgba(0,0,0,0.19);
}

.task-container {
  @include row(95);
  @include block-center();

  box-shadow: 0px 5px 15px -2px rgba(0,0,0,0.50);
  border: 1px solid $accent-grey;
  border-bottom: none;
}

.add-task-drawer {
  display:none;
  text-align: center;
  padding:0.625rem;
  padding-left: 1rem;
  & input {
    width:75%;
    background-color: $accent-grey;
  }
  & h2 {
    text-align: left;
  }

  background-color: $accent-grey;
  box-shadow: inset 0 -10px 8px -8px rgba(0,0,0,0.19), inset 0  10px 8px -8px  rgba(0,0,0,0.19);

}
