// Typography
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: $base-font;
  font-weight: 400;
}

p {
  font-size: $p-size;
}
h1 { font-size: $h1-size; font-weight:bold;}
h2 { font-size: $h2-size; }
h3 { font-size: $h3-size; }

.text-center {
  text-align: center;
}
