// Definitions for Grid Primitives

@mixin container($container-width){
  width:percentage($container-width/100);
  max-width:75rem;
  height:100vh;
  @include block-center();
}
@mixin row($row-width) {
  width:percentage($row-width/100);
  @include block-center;
  &::after,
  &::before {
    @include clearfix;
  }
}
@mixin column($col-width) {
  width: percentage($col-width/100);
  float:left;
  min-height: 1px;
  // Gutter
  //padding:12px;//1rem. Why though?
}

// Utilities
@mixin block-center(){
  margin-left:auto;
  margin-right: auto;
}

@mixin clearfix(){
  content: "";
  display: table;
  clear: both;
}
